<?xml version="1.0"?>
<OABasic>
  <UNameConfig>1</UNameConfig>
  <AllowMsg>1</AllowMsg>
  <AllowUI>1</AllowUI>
  <SignPath>/UploadFiles/OA/Sign/</SignPath>
  <OATitle />
  <OALogo>/MIS/OA/images/logo.gif</OALogo>
  <NodeMap>
    党办:145,
    院办:146,
    纪检:80,
    人事:81,
    财务:82,
    科教:83,
    护理:84,
    信息:85,
    医院最新通知:101,
    医院论坛交流:102
  </NodeMap>
  <ModelID>62</ModelID>
  <Secret>1:一般,2:秘密,3:机密,4:绝密</Secret>
  <Urgency>1:一般,2:较紧急,3:紧急,4:很紧急,5:非常紧急</Urgency>
  <Importance>1:一般,2:较重要,3:重要,4:非常重要</Importance>
</OABasic>